body {
  background-image: url("images/default.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin:0;

}
.weather-dashboard {
    background:rgb(119, 197, 225);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(235, 9, 9, 0.15);
    width: 350px;
    text-align: center;
}
.weather-dashboard h1 {
    margin-bottom: 1.5em;
}
#cityInput {
    padding: 0.7em;
    width: 65%;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    margin-right: 5px;
}
button {

    text-align: center;
    padding: 0.5rem 1.5em;
    border: blanchedalmond;
    border-radius: 5px;
    background: #0c25e5;
    color: white;
    cursor: pointer;
    margin-top:10px;
}
.weather-result {
    margin-top: 2em;
    font-size: 1.1em;

}
.weatherForm {
    display: flex;
    justify-content: center;
    align-items: center;
}   
